@font-face {
  font-family: NotoSansCJKjpRegular;
  src: url("../fonts/NotoSansCJKjp-Regular.otf") format("opentype"); }

@font-face {
  font-family: NotoSansCJKjpBold;
  src: url("../fonts/NotoSansCJKjp-Bold.otf") format("opentype"); }

a {
  color: inherit;
  text-decoration: none; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

body {
  font-family: NotoSansCJKjpRegular,sans-serif;
  height: 2000px; }

.container {
  width: 1120px;
  margin: 0 auto; }

header {
  width: 100%;
  background-color: #333333;
  height: 50px;
  position: fixed;
  z-index: 2000; }
  header .headerlogo {
    background-color: darkred;
    width: 60px;
    height: 30px;
    float: left;
    position: absolute;
    top: 10px;
    left: 50px;
    opacity: 0; }
  header .fadeout {
    animation: fadeOut 1s;
    animation-fill-mode: both; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }
  header .fadein {
    animation: fadeIn 1s;
    animation-fill-mode: both; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

@keyframes moveCarList {
  0% {
    top: 70px; }
  100% {
    top: 60px; } }
  header .snsList {
    float: right;
    list-style: none;
    margin-right: 50px; }
    header .snsList li {
      float: left;
      border-right: 1px solid white;
      color: white;
      padding: 0px 16px; }
      header .snsList li:last-child {
        border-right: none; }
      header .snsList li a {
        color: white;
        font-size: 12px;
        display: block; }
        header .snsList li a span {
          margin-right: 5px; }
        header .snsList li a:hover {
          opacity: 0.7;
          transition: 0.2s; }

.menus {
  background-color: white;
  border-bottom: 1px solid rgba(69, 69, 69, 0.3);
  padding-top: 100px; }
  .menus .menuLogoBanner {
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .menus .menuLogoBanner .logo {
      float: left;
      display: block;
      width: 100px; }
    .menus .menuLogoBanner .banner {
      float: right;
      display: block;
      width: 200px; }
      .menus .menuLogoBanner .banner img {
        display: block;
        width: 100%; }
  .menus .carTypeList {
    display: block;
    margin: 0 auto;
    display: flex; }
    .menus .carTypeList li {
      width: calc(100% / 7);
      text-align: center;
      display: block;
      box-sizing: border-box;
      height: 60px;
      line-height: 60px;
      position: relative; }
      .menus .carTypeList li:nth-of-type(1) {
        border-bottom: 5px solid #f02475; }
        .menus .carTypeList li:nth-of-type(1) .carList a {
          background-color: #f02475; }
      .menus .carTypeList li:nth-of-type(2) {
        border-bottom: 5px solid #f27435; }
        .menus .carTypeList li:nth-of-type(2) .carList a {
          background-color: #f27435; }
      .menus .carTypeList li:nth-of-type(3) {
        border-bottom: 5px solid #cfbe27; }
        .menus .carTypeList li:nth-of-type(3) .carList a {
          background-color: #cfbe27; }
      .menus .carTypeList li:nth-of-type(4) {
        border-bottom: 5px solid #61ae24; }
        .menus .carTypeList li:nth-of-type(4) .carList a {
          background-color: #61ae24; }
      .menus .carTypeList li:nth-of-type(5) {
        border-bottom: 5px solid #00a1cb; }
        .menus .carTypeList li:nth-of-type(5) .carList a {
          background-color: #00a1cb; }
      .menus .carTypeList li:nth-of-type(6) {
        border-bottom: 5px solid #01a4a4; }
        .menus .carTypeList li:nth-of-type(6) .carList a {
          background-color: #01a4a4; }
      .menus .carTypeList li:nth-of-type(7) {
        border-bottom: 5px solid #4367a4; }
        .menus .carTypeList li:nth-of-type(7) .carList a {
          background-color: #4367a4; }
      .menus .carTypeList li:hover {
        border-bottom-width: 10px;
        transition: 0.2s; }
        .menus .carTypeList li:hover .carList {
          display: block;
          opacity: 1;
          animation: fadeIn 0.5s, moveCarList 0.5s; }
      .menus .carTypeList li a {
        width: 80%;
        margin: 0 auto;
        display: block; }
      .menus .carTypeList li .carList {
        opacity: 0;
        display: none;
        position: absolute;
        width: 100%;
        color: white; }
        .menus .carTypeList li .carList a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 40px; }
          .menus .carTypeList li .carList a:hover {
            opacity: 0.7; }

.mainContent {
  background-color: #f1f1f1;
  height: 1000px; }
  .mainContent .contents {
    padding-top: 20px;
    width: 750px;
    float: left; }
    .mainContent .contents .airticle {
      border: 1px solid #dadada;
      height: 362px;
      margin-bottom: 16px;
      padding: 30px 20px 20px 20px;
      background-color: white; }
      .mainContent .contents .airticle h1 {
        width: 708px;
        padding-bottom: 15px;
        margin-bottom: 2px;
        margin-top: 0px;
        border-bottom: 2px solid rgba(68, 68, 68, 0.2); }
        .mainContent .contents .airticle h1 a {
          font-family: 'Hiragino Kaku Gothic ProN';
          font-size: 18px;
          color: #3c3c3c; }
      .mainContent .contents .airticle .airticleMain {
        margin: 40px 0px; }
        .mainContent .contents .airticle .airticleMain img {
          display: block;
          width: 300px;
          height: 168.75px;
          float: left; }
        .mainContent .contents .airticle .airticleMain p {
          font-family: 'Hiragino Kaku Gothic ProN';
          font-size: 15px;
          color: #3c3c3c;
          margin: 0px; }
  .mainContent .sideBar {
    float: right;
    width: 338px;
    padding-top: 20px; }
    .mainContent .sideBar .sideBarTitle {
      margin: 0px;
      padding: 15px 19px;
      background-color: #444444;
      line-height: 1; }
      .mainContent .sideBar .sideBarTitle span {
        color: white;
        font-family: 'Hiragino Kaku Gothic ProN';
        font-size: 14px; }
    .mainContent .sideBar form {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px; }
      .mainContent .sideBar form .searchField {
        width: 91%;
        border-width: 1px; }
      .mainContent .sideBar form button {
        border-width: opx; }
    .mainContent .sideBar .snsList {
      list-style: none;
      background-color: white;
      margin: 0px;
      padding: 5px 19px; }
      .mainContent .sideBar .snsList li {
        color: #444444; }
        .mainContent .sideBar .snsList li a {
          color: #444444;
          display: block;
          font-family: 'arial';
          font-size: 14px;
          line-height: 33px; }
          .mainContent .sideBar .snsList li a .iconSize {
            font-size: 16px; }
          .mainContent .sideBar .snsList li a span {
            width: 18px;
            margin-right: 10px; }
          .mainContent .sideBar .snsList li a:hover {
            margin-left: 7px;
            transition: 0.2s; }

footer {
  background-color: #444444; }
  footer .footerContents {
    display: flex;
    flex-direction: row; }
    footer .footerContents .content {
      width: 25%;
      color: white; }
      footer .footerContents .content .footerTitle {
        font-family: 'arial';
        font-size: 16px;
        font-weight: bold;
        padding-top: 10px; }
      footer .footerContents .content .footerList {
        font-family: 'arial';
        font-size: 12px;
        padding-top: 10px; }
        footer .footerContents .content .footerList span:hover {
          border-bottom: 1px solid white; }
  footer .footerMenues ul {
    display: flex;
    flex-direction: row; }
    footer .footerMenues ul li {
      margin: 0px 30px 0px 0px;
      padding-bottom: 10px; }
      footer .footerMenues ul li span {
        font-family: 'arial';
        font-size: 12px;
        color: white; }
        footer .footerMenues ul li span:hover {
          border-bottom: 1px solid white; }
